.cadastrar{
    width: 70%;
    color: white;
    background-color: blue;
    border-radius: 10px;
}

#formcadastrar {
    display: none
}
#botaoprof{
  display: none
}
#botaocli{
  display: none
}



#formcadastroprof{
    display: none
}
#formcadastrocli{
    display: none
}
