ion-slide {
  height: 91%; // Posição da dive

  .slide-inner{ // Alteração do quadrado da div
    width: 70%;
    color: white;
    background-color: blue;
    border-radius: 10px;
  }
}
.fundo{
  width: 100%;
  height: 100%;
  background-color: rgb(175, 175, 255);
}


#logindiv{
  display: none
}


