ion-slides {
  height: 100%; // Posição da dive

  .slide-inner{ // Alteração do quadrado da div
    width: 70%;
    color: white;
    background-color: blue;
    border-radius: 10px;
  }
}

// Fundo
.ocean {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80%;
  background: rgb(63, 63, 255);

  span {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 20%;
    width: 100%;
    margin: 0 auto;
    color: white;
  }
}
